/* ================= BURGER MENU =================== */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 999;
}

.burger span {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* ============= RESPONSIVE NAVIGATION ============ */
@media (max-width: 768px) {
    .burger {
        display: flex;
        order: 1;
    }

    .nav-links-wrapper {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: var(--bg-color-05, #1c1c1c);
        padding: 20px;
        gap: 15px;
        z-index: 998;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .nav-links-wrapper.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-button-block {
        margin: auto;
    }

    .hero-title-block h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.11em;
    }

    .hero-description-block p {
        font-size: 10px;
        line-height: 1.55em;
        color: #D9DFE0;
    }

    /* Hide partner overlay on small screens */
    .partiner-overlay {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .nav-button-block {
        margin-left: 150px;
    }


    #partnerSection {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .container1 {
        width: 100%;
        overflow: hidden;
        margin: auto;
    }

    .Partiner_items {
        display: flex;
        white-space: nowrap;
        will-change: transform;
    }

    .partiner-overlay {
        display: none;
    }


    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

}